<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tune Hub : Admin Home</title>
<link rel="stylesheet" th:href="@{/css/adminHome.css}">
</head>
</head>
<body>
 <h1>ADMIN HOME</h1>
<div class="container">
   
    <ul class="menu">
        <li><a href="newSong">Add a New Song</a></li>
        <li><a href="viewSongs">View all Songs</a></li>
        <li><a href="createPlaylist">Create Playlist</a></li>
        <li><a href="viewPlaylists">View all Playlists</a></li>
    </ul>
</div>
</body>
</html>